{% include 'head.html' %}
{% load static %}

    <section class="hero is-small is-link">
        <div class="hero-body has-text-centered">
            <a href="/">
                <img class="image is-64x64" id="logo" src="{% static 'box.png' %}" style="display: inline;" />
            
                <p class="title">
                    Groceries
                </p>
                <p class="subtitle">
                    Encuentra el mejor precio para tu compra
                </p>
            </a>
        </div>
    </section>
    <br/>
    <section class="container">
        <div class="columns">
            <div class="column">
                <h3 class="title is-3">{{ product.name }}</h3>

                <p>
                    El mejor precio para este producto es <strong>{{ product.price }}</strong>
                </p>

                <br/>
                
                <div class="card">
                    <header class="card-header">
                      <p class="card-header-title">
                        Precios por supermercado
                      </p>
                    </header>
                    <div class="card-content">
                        <p>
                            
                        </p>
                        
                        <br/>

                        <figure class="image">
                            <img src="https://placehold.co/400x100.png">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
