{% include 'head.html' %}
{% load static %}

    <section class="hero is-small is-link">
        <div class="hero-body has-text-centered">
            <img class="image is-64x64" id="logo" src="{% static 'box.png' %}" style="display: inline;" />
            <p class="title">
                Groceries
            </p>
            <p class="subtitle">
                Encuentra el mejor precio para tu compra
            </p>
        </div>
    </section>
    <br/>
    <section class="container">
        <div class="columns">
            <div class="column">
                <figure class="image">
                    <img src="https://placehold.co/512x512.png">
                </figure>
            </div>
            <div class="column">
                <h3 class="title is-3">Descripción</h3>
                <p>
                    Eos omnis earum rerum velit excepturi optio. Rerum et vitae similique consequatur ut. Dolore expedita ut tenetur ducimus minus.
                </p>
                <p>
                    Nulla voluptas voluptate dolore illo itaque. Corrupti necessitatibus et saepe eos hic reiciendis dolor. Quia voluptas voluptas 
                    quia placeat nobis incidunt placeat. Non enim enim expedita esse velit dicta iste quasi. Ducimus sed ea et.
                </p>

                <br/>

                <div class="card">
                    <header class="card-header">
                      <p class="card-header-title">
                        Mejor precio
                      </p>
                    </header>
                    <div class="card-content">
                        <p>
                            <strong>2.98€/unidad en Mercadona</strong>
                        </p>
                        
                        <br/>

                        <figure class="image">
                            <img src="https://placehold.co/400x220.png">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
